extends ../layouts/default.jade

block headEnd
  // add some other styles or meta

block body
  div(ng-app="myApp")
    include ../blocks/hello/hello.jade
    include ../blocks/contacts/contacts.html
    include ../blocks/todo/todo.jade
    br
    a(href="server.html") server page
    br
    a(href="components.html") components page

block scripts
  // reset default scripts block on this page
  script(src='assets/app.js')

block bodyEnd
  // add some other scripts or counters
