extends ../layouts/default.jade

block headEnd
  // add some other styles or meta

block body
  include ../blocks/hello/hello.jade
  include ../blocks/contacts/contacts.html
  include ../blocks/todo/todo.jade

block scripts
  // reset default scripts block on this page
  script(src='assets/app.js')

block bodyEnd
  // add some other scripts or counters
